.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.homepageimage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.header{
  grid-column: 1/3;
  grid-row: 1/2;
}
.aside{
 border-block-end-color: orangered;
  grid-column: 2/3;
  grid-row: 2/4;
}
.masthead{
  background-color:red;
  grid-row: 2/4;
}
footer{
  background-color: green;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  grid-column: 1/3;
}

.home{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:auto 1fr 1fr 1fr;
  grid-gap:10px;
}

div.jumbotron{
  background-image: url("./images/gamer3.jpeg");
  background-size: contain;
}

/* .layout1.container main{
  display: flex;
} */

/* .layout1.container main section{
  flex: 2;
  margin-right: 10px;
} */
/* .homepageimage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
} */

/* .layout1.container main aside{
  flex: 1;
} */
